<ion-header>
    <ion-toolbar color = "dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style ="color: #ffffff;">
        Registration Details
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
    <ion-card-content padding>
        <ion-row>
        <ion-col col-6 style = "color:#ffffff; font-weight: bold; text-align: center; font-size: 1.3em;">Registration Fees</ion-col>
        <ion-col col6 style = "color:#ffffff; font-weight: bold; text-align: center; font-size: 1.3em;">Regular Deadline: April 22, 2019</ion-col>
        </ion-row>
        <ion-row>
        <ion-col col-6 style = "font-size: 0.8em; color:#ffffff; font-size: 1em; text-align: center;" text-wrap>Registration fees with no accommodation per person</ion-col>
        <ion-col col6 style = "text-align-last: center; color:#ffffff; font-size: 1em;">549 €</ion-col>
          
        </ion-row>
        <ion-row>
            <ion-col col-6 style = "font-size: 0.8em; color:#ffffff; font-size: 1em; text-align: center; " text-wrap>Registration fees with accommodation in single room</ion-col>
            <ion-col col6 style = "text-align-last: center; color:#ffffff; font-size: 1em;">799 €</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 style = "font-size: 0.8em; color:#ffffff; font-size: 1em; text-align: center;" text-wrap>Registration fees with accommodation in double room for 2 participants</ion-col>
            <ion-col col6 style = "text-align-last: center; color:#ffffff; font-size: 1em;">1499 €</ion-col>
          
        </ion-row>
        <ion-row>
            <ion-col col-6 style = "font-size: 0.8em; color:#ffffff; font-size: 1em; text-align: center;" text-wrap>Registration fees with accommodation in double room for 1 participant + 1 accompanying person</ion-col>
            <ion-col col6 style = "text-align-last: center; color:#ffffff; font-size: 1em;">1089 €</ion-col>
          
        </ion-row>
    </ion-card-content>
  </ion-card>

  

    

  <ion-card padding>
    <ion-card-title style = "font-size: 0.8em; color:#ffffff; font-size: 1.2em; font-weight : bold; text-align: justify;">Registration fees (participant) with accommodation include:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
          <p style = "color:#ffffff; text-align: justify;">Admission to all Scientific Sessions (3 days meetings) </p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Congress Bag (including volume of the Congress Abstract CD)  </p>
          </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">1 abstract for the conference Book of Abstracts (Up to 3 abstracts per person is allowed for submission. 2nd and 3rd submissions cost 90 € each)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Each submitted abstract can lead to one paper in the Proceedings Book of the Conference, according to the registration payment. The main registration justifies publication of one paper up to 6 pages. For more than 6 pages, there exists an extra fee: 50 €/per page.</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Coffee breaks during the Meetings and High class all-inclusive food and drinks (for more information please visit “Venue” page)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">High class all-inclusive accommodation for 3 nights / 4 days (for more information please visit “Venue” page)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Welcome Cocktail (The event is an excellent opportunity to meet colleagues in a convivial atmosphere) </p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">After Party (Only for participants staying in the Papillon Ayscha Hotel Resort & SPA) </p>
        </ion-item>          
        
    </ion-list>
  </ion-card>

  <ion-card padding>
      <ion-card-title style = "font-size: 0.8em; color:#ffffff; font-size: 1.2em; font-weight : bold; text-align: justify;">Registration fees (participant) with no accommodation include:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
          <p style = "color:#ffffff; text-align: justify;">Congress Bag (including volume of the congress Abstract CD)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">1 abstract for the conference Book of Abstracts (Up to 3 abstracts per person is allowed for submission. 2nd and 3rd submissions cost 90 € each)</p>
          </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Each submitted abstract can lead to one paper in the Proceedings Book of the Conference, according to the registration payment. The main registration justifies publication of one paper up to 6 pages. For more than 6 pages, there exists an extra fee: 50 €/per page.</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Coffee breaks during the Meetings and High class all-inclusive food and drinks (between 9:00-19:00) (for more information please visit “Venue” page)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Welcome Cocktail (The event is an excellent opportunity to meet colleagues in a convivial atmosphere)</p>
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
            <p style = "color:#ffffff; text-align: justify;">Accompanying person, registration fee (50 €/per day) is only for guests not staying in the hotel. Includes: High class all-inclusive food and drinks between 9:00-19:00</p>
        </ion-item>
        
    </ion-list>
  </ion-card>

  <ion-card padding>
    <ion-card-title style = "font-size: 0.8em; color:#ffffff; font-size: 1.2em; font-weight : bold; text-align: justify;">Direct Bank Transfer</ion-card-title>
    <ion-list>
      <ion-item>
        <ion-icon name="checkmark-circle" style = "color:#ffffff;" slot = "start"></ion-icon>
        <p style = "color:#ffffff; text-align: justify;">In case you select Direct Bank Transfer as payment method, our bank details are the following: </p>
        
      </ion-item>
      <ion-row  style = "color:#ffffff; font-size: 1.2em;">Bank : Bank<br/><br/> Account Number : 46216541654 <br/><br/> IBAN : GR1891861846846216541654</ion-row> 
  </ion-list>
  
</ion-card>

     

</ion-content>
